# ignore by file extension
*.pyc
*.pyo
*.o
*.a
*.so
*.gch
*.vscode
*.log

# ignore specific files
coupler/opc-ua-server/open62541.c
coupler/opc-ua-server/open62541.h


# ignore by directory
coupler/opc-ua-server/bin